<h1>Recettes Muncher</h1>

<%= form_tag recettes_path(@item), method: "get" do %>
  <%= text_field_tag(:item) %>
  <%= submit_tag("Search")%>
<% end %>

<h4>Results for"<%= recipe.title %>""</h4>

<ul>
  <% if @recipes.count > 0 %>
    <% @recipes.each do |recipe| %>
    <li><h4><%= recipe.title %></h4></li>
    <li><%= link_to "See recipe", recette_path(recipe.title) %></li>
    <% end %>
  <% end %>
</ul>
