<h1>Recettes Muncher</h1>

<%= form_tag recettes_path(@item), method: "get" do %>
  <%= text_field_tag(:item) %>
  <%= submit_tag("Search")%>
<% end %>

<% unless params[:item] == nil %>
  <h4>Results for "<%= params[:item].capitalize %>"</h4>
<% end %>

<%= will_paginate @recipes %>

<ul class="row small-up-1 medium-up-3">
  <% if @recipes.count > 0 %>
    <% @recipes.each do |recipe| %>
      <article class="recipe-box column">
        <li><h4><%= recipe.title %></h4></li>
        <li><%= link_to "See recipe", recette_path(recipe.title) %></li>
      </article>
    <% end %>
  <% end %>
</ul>

<%= will_paginate @recipes %>
