<h1>Recipe for <%=@recipe.title%></h1>


<%= link_to "See the original recipe", @recipe.url, class: "button" %>

<h4><%= @recipe.calories %></h4>

<h3>Ingredients</h3>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient %></li>
  <% end %>
</ul>

<h3>Nutrients</h3>

<table>
  <tr>
    <th>Nutrient</th>
    <th>Amount</th>
    <th>Daily need</th>
  </tr>
  <% @recipe.nutrients.each do |nutrient_hash| %>
    <% unless nutrient_hash["total"].to_i == 0 %>
      <tr>
        <th><%= nutrient_hash["label"] %></th>
        <th><%= nutrient_hash["total"].to_i.to_s %><%= nutrient_hash["unit"] %></th>
          <% found = false %>
          <% @recipe.dailyneed.each do |dailyneed_hash| %>
            <% if dailyneed_hash[1]["label"] == nutrient_hash["label"] %>
              <% found = true %>
              <th><%= dailyneed_hash[1]["quantity"].to_i.to_s %><%= dailyneed_hash[1]["unit"] %></th>
            <% end %>
          <% end %>
          <% if found == false %>
            <th>N/A</th>
          <% end %>
      </tr>
    <% end %>
  <% end %>
</table>
